.git/
.github/

**/bin/
**/obj/
**/node_modules/

**/.env
**/.env.*
**/*.db
**/*.db-shm
**/*.db-wal

Frontend/.output/
Frontend/.nitro/
Frontend/.tanstack/
Frontend/.vinxi/
Frontend/dist/
Frontend/dist-ssr/
